<div class="home-page">

  <div class="row">
    <div class="cards-container">
      <div class="col m12">
        <div class="card-panel">
          <p>Popular Tags</p>

          <div class="tag-list">
            <a href="#"
               *ngFor="let tag of tags"
               (click)="setListTo('all', {tag: tag})"
               class="chip waves-effect waves-light">
              {{ tag }}
            </a>
          </div>

          <div [hidden]="tagsLoaded">
            Loading tags...
          </div>

          <div [hidden]="!tagsLoaded || tags.length">
            No tags are here... yet.
          </div>

          <a (click)="setListTo('all')" class="btn-floating waves-effect waves-light red right"><i class="material-icons">clear</i></a>
        </div>
      </div>
      <app-picture-list [limit]="10" [config]="listConfig"></app-picture-list>
    </div>
  </div>

</div>
