<div class="home-page">

  <div class="row">
    <app-picture-list class="col m10  cards-container" [limit]="10" [config]="listConfig"></app-picture-list>
    <div class="col m2">
      <div class="card-panel">
        <p>Popular Tags</p>

        <div class="tag-list">
          <a href="#"
             *ngFor="let tag of tags"
             (click)="setListTo('all', {tag: tag})"
             class="chip">
            {{ tag }}
          </a>
        </div>

        <div [hidden]="tagsLoaded">
          Loading tags...
        </div>

        <div [hidden]="!tagsLoaded || tags.length">
          No tags are here... yet.
        </div>

        <a (click)="setListTo('all')" class="btn-floating waves-effect waves-light red right"><i class="material-icons">clear</i></a>
      </div>
    </div>
  </div>

</div>
